<!doctype html>
<html ng-app="campus360">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="js/app.js"></script>
    <title>Campus360 Dashboard</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body ng-controller="dashboardController">
    <h1>{{collegename}}</h1>
    <label>College:</label>
    <input type="text" ng-model="collegename" />

    <hr />

    <p ng-class="{'green': totalstudents > 1000, 'red': totalstudents < 1000}">
      Students: {{totalstudents}}
    </p>

    <input type="number" ng-model="totalstudents" />
    <button ng-click="totalstudents = totalstudents + 1">+</button>

    <p ng-class="{'green': totalfaculty > 100, 'red': totalfaculty < 100}">
      Faculty: {{totalfaculty}}
    </p>
    <input type="number" ng-model="totalfaculty" />
    <button ng-click="totalfaculty = totalfaculty + 1">+</button>

    <hr />

    <h3>Students</h3>
    </button>
    <button ng-click="showstudents = !showstudents">
      {{ showstudents ? 'Hide' : 'Show' }}
    </button>
    

    <ul ng-show="showstudents">
      <li ng-repeat="student in students">{{student}}</li>

    </ul>
  </body>
</html>